.ytLiveChatAuthorChip {
  display: inline-flex;
  align-items: baseline;
}

.authorName {
  color: var(
    --yt-live-chat-disable-highlight-message-author-name-color,
    rgba(255, 255, 255, 0.7)
  );
  font-size: 14px;
}
