.ytLiveChatRenderer {
  background: var(--yt-live-chat-background-color);
  color: var(--yt-live-chat-primary-text-color);
}

.ytLiveChatRenderer .separator {
  border-bottom: var(--yt-live-chat-header-bottom-border, none);
}
