.ytLiveChatRenderer {
  background: var(--yt-live-chat-background-color);
  color: var(--yt-live-chat-primary-text-color);
}

.ytLiveChatRenderer .separator {
  border-bottom: var(--yt-live-chat-header-bottom-border, none);
}

.svgIconSticker {
  color: var(--yt-live-chat-paid-sticker-chip-text-color);
}

.selectable {
  border: transparent 4px dotted;
}

.selectable:hover {
  border-color: red;
}
