.ytLiveChatPaidMessageRenderer {
  --yt-live-chat-paid-message-primary-color: rgba(0, 229, 255, 1);
  --yt-live-chat-paid-message-secondary-color: rgba(0, 184, 212, 1);
  --yt-live-chat-paid-message-header-color: rgba(0, 0, 0, 1);
  --yt-live-chat-paid-message-timestamp-color: rgba(
    0,
    0,
    0,
    0.5019607843137255
  );
  --yt-live-chat-paid-message-color: rgba(0, 0, 0, 1);
  --yt-live-chat-disable-highlight-message-author-name-color: rgba(
    0,
    0,
    0,
    0.7019607843137254
  );
  --yt-live-chat-text-input-background-color: rgba(
    255,
    255,
    255,
    0.18823529411764706
  );
}
.ytLiveChatPaidMessageRenderer {
  position: relative;
  display: block;
  padding: 4px 24px;
  font-size: 15px;
  --yt-live-chat-paid-message-background-color: var(
    --yt-live-chat-paid-message-primary-color
  );
  --yt-live-chat-paid-message-header-background-color: var(
    --yt-live-chat-paid-message-secondary-color
  );
  --yt-live-chat-text-input-field-placeholder-color: var(
    --yt-live-chat-paid-message-color
  );
  --yt-live-chat-item-timestamp-display: var(
    --yt-live-chat-paid-message-timestamp-display,
    none
  );
}

.card {
  background-color: var(--yt-live-chat-paid-message-background-color, #1565c0);
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  box-shadow:
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.header {
  border-radius: 12px;
  background-color: transparent;

  position: relative;
  overflow: hidden;
  color: var(--yt-live-chat-paid-message-header-color, #fff);
  font-weight: 500;
  padding: 8px 16px;
  min-height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.authorPhoto {
  height: 32px;
  width: 32px;

  display: block;
  margin-right: var(--yt-live-chat-author-photo-margin-right, 16px);
  overflow: hidden;
  border-radius: 50%;
  flex: none;
}

.headerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  flex-basis: 0%;
  flex-basis: 0.000000001px;
  align-items: baseline;
}

.headerContentPrimaryColumn {
  padding-right: 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  flex-basis: 0%;
  flex-basis: 0.000000001px;
  position: relative;
}

.singleLine {
  display: flex;
  flex-direction: row;
}

.purchaseAmountColumn {
  padding-left: 8px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.content {
  background-color: var(--yt-live-chat-paid-message-background-color, #1565c0);
  color: var(--yt-live-chat-paid-message-color, #fff);
  padding: 8px 16px;
  padding-top: 8px;
  word-wrap: break-word;
  word-break: break-word;
  z-index: 0;

  color: var(--yt-live-chat-paid-message-color, #fff);
  word-wrap: break-word;
  word-break: break-word;
}

.content {
  padding-top: 0;
  border-radius: 12px;
}

.selectable {
  composes: selectable from "./selectable.module.css";
}
